/* 背景 */

.a_background {
    width: 100%;
    height: 100%;
    position: absolute;
}

.a_background_top{
    width: 100%;
    height: 71.6%;
    background-image: url("../images/background/a_background_top.png");
    background-size: 100% 100%;
}


.a_background_middle{
    width: 100%;
    height: 13.1%;
    background-image: url("../images/background/a_background_middle.png");
    background-size: 100% 100%;
}

.a_background_botton{
    width: 100%;
    height: 15.3%;
    background-image: url("../images/background/a_background_botton.png");
    background-size: 100% 100%;
}
/* 背景end */

.charector {
    width: 151px;
    height: 291px;
    background: url("../images/boy.png") -0px -291px no-repeat;
    position: absolute;
    left: 6%;
    top: 55%;
}
.slowWalk {
    /* chrome */
    -webkit-animation-name: person-slow; 
    /*完成动画时间*/
    -webkit-animation-duration: 950ms;
    /*播放动画的模式*/
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps(1, start);
    /* fixfox */
    -moz-animation-name: person-slow;
    -moz-animation-duration: 950ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: steps(1, start)
}
.pauseWalk{
    /* 暂停 */
    -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
}
    
    /* chrome*/
    
    @-webkit-keyframes person-slow {
        0% {
           background-position: 0px -291px;
        }
        25% {
            background-position: -602px -0px;
        }
        50% {
            background-position: -302px -291px;
        }
        75% {
            background-position: -151px -291px;
        }
        100% {
            background-position: -0px -291px;
        }
    }
    /* fixfox */
    @-moz-keyframes person-slow {
        0% {
            background-position: -0px -291px;
        }
        25% {
            background-position: -602px -0px;
        }
        50% {
            background-position: -302px -291px;
        }
        75% {
            background-position: -151px -291px;
        }
        100% {
            background-position: -0px -291px;
        }
    }
    /*end */

    /* 拿花走路· */
    .slowFlowerWalk{
        -webkit-animation-name:personFlower-slow;
        -webkit-animation-duration:950ms;
        /* Ñ­»·²¥·Å */
        -webkit-animation-iteration-count: infinite;
        /*¶¯»­ÇÐ»»µÄ·½Ê½ÊÇÒ»Ö¡Ò»Ö¡µÄ¸Ä±ä ±ØÐë¼Ó*/
        -webkit-animation-timing-function: steps(1, start);

        -moz-animation-name:personFlower-slow;
        -moz-animation-duration:950ms;
        /* Ñ­»·²¥·Å */
        -moz-animation-iteration-count: infinite;
        /*¶¯»­ÇÐ»»µÄ·½Ê½ÊÇÒ»Ö¡Ò»Ö¡µÄ¸Ä±ä ±ØÐë¼Ó*/
        -moz-animation-timing-function: steps(1, start);
    }
    @-webkit-keyframes personFlower-slow{
        0%{
            background-position: -302px -0px;
        }
        25% {
            background-position: -903px -0px;
        }
        50% {
            background-position: -452px -0px;
        }
        75% {
            background-position: -753px -0px;
        }
        100%{
            background-position: -302px -0px;
        }
        
    }
     @-moz-keyframes personFlower-slow{
        0%{
            background-position: -302px -0px;
        }
        25% {
            background-position: -903px -0px;
        }
         50% {
            background-position: -452px -0px;
        }
        75% {
            background-position: -753px -0px;
        }
        100%{
            background-position: -302px -0px;
        }
    }

    /* 拿花走路end */

    /* 太阳 */
     #sun {
            background: url("../images/sun.png") no-repeat;
            position: absolute;
            z-index: 1;
            top: -30px;
            height: 201px;
            width: 201px;
            right: 40%;
    }
    .rotation{
        -webkit-animation-name:rotation;
        -webkit-animation-duration:30s;
        -moz-animation-name:rotation;
        -moz-animation-duration:30s;
    }
    /* 下山动画 */
    @-webkit-keyframes rotation{/* chrome */
        0%{
            transform:translateX(0) translateY(0);
        }
        /* 50%{
            transform:translateX(-1000px) translateY(200px);
        } */
        100%{
            transform:translateX(-2000px) translateY(400px);
        }
    }
    @-moz-keyframes rotation{/* fixfox */
        0%{
            transform:translateX(0) translateY(0);
        }
        
        100%{
            transform:translateX(-2000px) translateY(400px);
        }
    }
    /* 太阳end */

    /* 云 */
    .cloud{
        z-index: 2;/* ÓÅÏÈ¼¶ */
        position:absolute;
    }
    .cloud1{
        width: 181px;
        height: 101px;
        left: -5%;
        top: 15%;
        background: url("../images/cloud1.png");
        
    }
    .cloud2{
        width: 301px;
        height: 140px;
        right: -5%;
        background: url("../images/cloud2.png");
        
    }
    .cloud1Move{
        -webkit-animation-name:smallCloud;
        -webkit-animation-duration:40s;
        -webkit-animation-iteration: infinite;
        -moz-animation-name:smallCloud;
        -moz-animation-duration:40s;
        -moz-animation-iteration: infinite;
    }
    .cloud2Move{
            -webkit-animation-name: largeCloud;
            -webkit-animation-duration: 60s;
            -webkit-animation-iteration: infinite;
            -moz-animation-name: largeCloud;
            -moz-animation-duration: 60s;
            -moz-animation-iteration: infinite;
    }
    @-webkit-keyframes smallCloud{
        0%{
            left: -5%;

        }
        100%{
             left: 100%;
        }
     }
     @-moz-keyframes smallCloud{
         0%{
            left: -5%;

        }
        100%{
             left: 100%;
        }
     }
    @-webkit-keyframes largeCloud {
        0% {
            right: -5%;
        }
        100% {
            right: 100%;
        }
    }

    @-moz-keyframes largeCloud {
        0% {
            right: -5%;
        }
        100% {
            right: 100%;
        }
    }