/*背景图*/

.b_background {
    width: 100%;
    height: 100%;
    background-image: url("../images/QixiB-dark.png");
    background-size: 100% 100%;
    position: absolute;
}
/* 预加载亮灯背景 */
.b_background_preload {
    background: url("../images/QixiB-bright.png") no-repeat -9999px -9999px;
}
/* 亮灯背景 */
.lamp-bright {
   background-image: url("../images/QixiB-bright.png");
}
.shop{
	width: 39.5%;
	height: 35.5%;
	position: absolute;
	left: 29%;
	top:36.5%;

}
.door{
	position: absolute;
	width: 32%;
	height: 68%;
    left: 58.5%;
    top: 32%;   
    overflow: hidden;/* 开关门会用到 */
    
}
.door-left,
.door-right {
    width: 50%;
    height: 100%;
    position: absolute;
}
.door-left {
    left: 0%;
    background: url("../images/door-left.png");
    background-size: 100% 100%;
}

.door-right {
    left: 50%;
    background: url("../images/door-right.png");
    background-size: 100% 100%;
}
.bird{
    min-width: 91px;
    min-height: 71px;
    position: absolute;
    z-index: 10;
    top: 10%;
    right: -93px;
    background: url("../images/bird.png") -182px 0px no-repeat;
}
.birdFly{
    -webkit-animation-name: bird-fly;
    -webkit-animation-duration:1000ms;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function: step-start;
    -moz-animation-name:bird-fly;
    -moz-animation-duration:1000ms;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function: step-start;
}
@-webkit-keyframes bird-fly{
    0% {
        background-position: -182px 0px;
    }
    50% {
        background-position: 0px 0px;
    }
    75% {
        background-position: -91px 0px;
    }
    100% {
        background-position: -182px 0px;
    }
}
@-moz-keyframes bird-fly{
    0% {
         background-position: -182px 0px;
    }
    50% {
        background-position: 0px 0px;
    }
    75% {
        background-position: -91px 0px;
    }
    100% {
        background-position: -182px 0px;
    }
}